---
title: portfolio
permalink: "/"
---

<main class="sideContainer">
    {% include sections/heroHome.html %}

    <p class="ffGotham">home page</p>
  
    <div class="grid gridProjects">
  
      <h2 class="ffFutura">Here is a list of my projects</h2>
      {% for project in site.developpement %}
        {% assign slug = project.title | slugify: 'latin' %}
        <div class="projectContainer">
          <h3 class="ffGotham">{{project.title}}</h3>
          <a href="/project/{{slug}}">see project</a>
        </div>
  
      {% endfor %}
    </div>
  
  </main>
