---
title: portfolio
permalink: "/"
---

<main>
  {% include sections/heroHome.html %}
  <section class="section-propos">
    <div class="surligne"></div>
    <h2 class="propos-titre">À propos</h2>

    <p class="propos">
      Depuis mon plus jeune âge je suis passionnée par la création, je découvre
      cette année, les joies du développement web. <br />

      Je suis étudiante en But des Métiers du Multimédia et de l'Internet. Et je
      recherche une alternance, qui débuterait en septembre. Curieuse de découvrir de
      nouvelles compétences, j'aimerais développer mes connaissances en
      programmation front-end.
    </p>

    <div class="logo-language">
      <img src="/svg/scratch-logo.svg" class="logoimg" alt="scratch" />
      <img src="/svg/php-1.svg" class="logoimg" alt="php" />
      <img src="/svg/python-5.svg" class="logoimg" alt="python" />
      <img src="/svg/html-1.svg" class="logoimg" alt="html" />
      <img src="/svg/css-3.svg" class="logoimg" alt="css" />
      <img src="/svg/javascript-1.svg" class="logoimg" alt="javascript" />
      <img src="/svg/astro.png" alt="astro">
      <img src="/svg/svelte.png" alt="svelte">
    </div>
  </section>

  <section class="carousel" id="Développement">
    <div class="titre">
      <h2 class="titre_dev">Développement</h2>
      <div class="surligne"></div>
    </div>



      <div class="rangement">
            {% for project in site.developpement %} {% assign slug =
            project.title | slugify: 'latin' %}

            <div class="espacement">
              <img
                src="{{project.image-url}}"
                class="image-project"
                alt="Image du projet"
              />
              <h3 class="ffGotham">{{project.title}}</h3>
              <div class="align-logo">
                {% for logo in project.logos %}
                <img
                  src="{{logo.logo.url}}"
                  class="logo-dev"
                  alt="{{logo.logo.alt}}"
                />
                {% endfor %}
              </div>
              <br />
              <div class="align">
                <a href="/developpement/{{slug}}"><p>voir plus</p></a>
                <div class="sous-ligne"></div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
  </section>

  <section class="carousel" id="Graphismes">
    <div class="titre">
      <h2 class="titre_dev">Graphismes</h2>
      <div class="surligne sur-gra"></div>
    </div>



          <div class="rangement">
            {% for project in site.dessins %} {% assign slug = project.title |
            slugify: 'latin' %}

            <div class="espacement">
              <img
                src="{{project.image-url}}"
                class="image-project"
                alt="Image du projet"
              />

              <br />
              <div class="align">
                <a href="/dessins/{{slug}}"><p>voir plus</p></a>
                <div class="sous-ligne"></div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>

  </section>
  <section class="carousel" id="Mes-Vidéos-photographies">
    <div class="titre">
      <h2 class="titre_dev">Mes Vidéos/photographies</h2>
      <div class="surligne sur-vid"></div>
    </div>



          <div class="rangement">
            {% for project in site.photos-videos %} {% assign slug =
            project.title | slugify: 'latin' %}

            <div class="espacement">
              <img
                src="{{project.image-url}}"
                class="image-project"
                alt="Image du projet"
              />
              <h3 class="ffGotham">{{project.title}}</h3>
              <p>{{project.outil}}</p>

              <img
                src="{{logo.logo.url}}"
                class="logo-dev"
                alt="{{logo.logo.alt}}"
              />

              <br />
              <div class="align">
                <a href="/photos-videos/{{slug}}"><p>voir plus</p></a>
                <div class="sous-ligne"></div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
       </section>
</main>

{% include sections/footer.html %}
<div id="wcb" class="carbonbadge fond-footer-part2"></div>
<script
  src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"
  defer
></script>
