<footer>
    <div class="fond-footer">
        <div class="div-contact">
            <a href="#!"> <h3>Contact</h3></a>
            <a href="#!"><p class="e-mail">heloisepingitore@mmi.fr</p></a>
            <a href="#!"><p class="numero">07 82 77 44 42</p></a>
            <div class="logo-footer">
                <a href="https:linkedin.com/in/heloise-p-2b8539252"><img src="/svg/linkedin-icon.svg" alt=""></a>
                <a href="https://github.com/HeloisePi"><img src="/svg/github-icon-1.svg" alt=""></a>
            </div>
        </div>
        <div class="div-proj">
            <h3>Projets</h3>
            <a href="/#Développement "><p>Développements</p></a>
            <a href="/#Graphismes"><p>Graphismes</p></a>
            <a href="/#Mes-Vidéos-photographies"><p>Mes Vidéos / Photographies</p></a>
        </div>
        <div class="div-leg">
            <h3>Légals</h3>
            <a href=""><p>Mention Légale </p></a>
        </div>
    </div>
</footer>

