<header class="header ffGotham bgBlack txtWhite">
  <div class="logo"></div>
  <div class="container contenantheader">
    <a href="/#Développement ">
      <p class="developpements">Développements</p>
    </a>
    
    <a href="/#Graphismes">
      <p class="graphismes">Graphismes</p>
    </a>

    <a href="/#Mes-Vidéos-photographies">
      <p class="videos">Vidéos/Photographies</p>
    </a>

    
    <a href="https://www.youtube-nocookie.com/watch?v=dQw4w9WgXcQ">
      <p class="cv">CV</p>
    </a>
    
    <a href="/contact.html">
      <p class="contact">Contact</p>
    </a>
  </div>
  <img src="/assets/burger/hamburger.svg" alt="Menu" class="menu">
</header>

<script>
        const menu = document.querySelector(".menu")
        const contenantheader = document.querySelector(".contenantheader")
 
        menu.addEventListener('click',()=>{
          contenantheader.classList.toggle('mobile-menu')
        })

</script>

