<section class="hero">
  <div class="firstpage">
    <div class="cadre-image">
        <img src="/assets/photo/ligne.png" class="ligne1" alt="">
        <img src="/assets/photo/ligne.png" class="ligne2" alt="">
      <p class="descriptionimage">développeuse front-end créatif</p>
      <div class="imageContainer">
        <img src="/assets/photo/mainphoto.png" class="MainPhoto" alt="Dommage">
        <img src="/assets/photo/secondphoto.png" class="MainPhoto" alt="Dommage">
      </div>
      <div class="portfolio">
        <p class="port">PORT</p>
        <p class="folio">FOLIO</p>
      </div>
    </div>
    <p class="nom">Héloïse Pingitore</p>
  </div>
</section>
