/* Colors */

$black : #181818;
$white : #FFFFFF;
$blue: #54EBFF;
$darkBlue: #2230B1;
$green : #00D079;
$orange: #FFB13D;
$pink : #FF00F5;
$main : #FFAD9B;

/* Typography */

/* Font size */
$fsTitle: 4rem;
$fsSsTitle: 2.125rem;
$fsText: 1.125rem;

/* Font Family */

@font-face {
  font-family: 'louis';
  src: url(../../assets/fonts/louis.ttf);
}


$fflouis: 'louis';

