.hero{
    background-color: $main;
    padding-top: 160px;
}
.firstpage{
    margin: 0 auto;
    text-align: center;
    
    max-width: 558px;
    .cadre-image{
        background-color: white;
        height: 579px;
        padding: 0 10px;
        position: relative;
        .descriptionimage{
            font-family: $fflouis;
        }
        .imageContainer {
            position: relative;
            overflow: hidden;
            height: 100%;
            .MainPhoto {
                
                position: absolute;
                inset: 0;
                
            }

            .layertop{
                z-index: 1;
            }
        

        }
        .ligne1{
            position: absolute;
            top: 18%;
            left: 0;
            transform: translateX(calc(-100% + 2px ))
        }
        .ligne2{
            position: absolute;
            top: 18%;
            left: 100%;
            height: 35%;
        
        
        }
        .port ,.folio{
            font-size: 100px;
            font-family: $ffgilbert;
            position: absolute;
            top: 140px;
            left: -44px;
            z-index: 0;
        }
        .folio{
            left: 394px;
        }
        

    }
    .nom{
        font-family: $ffmartine;
        font-size: 100px;
        white-space: nowrap;
        transform: translate(0, -28%);
    }
}

.section-propos{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4%;

    .grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr ;
    }
    
    .surligne{
        position: absolute;
        background-color: $main;
        width: 148px;
        height: 17px;
        transform: translateY(17px);
        z-index: -1;
    }



    .propos{
        margin-top: 40px;
        font-size: 20px;
        font-family: $fflouis;
        width: 50vw;

    }
    .logo-language{
        margin-top: 2%;
        display: flex;
        justify-content: center;
        gap: 2%;
        img{
            width: auto;
            height: 40px;
            
        }
    }
}

section.carousel{
    text-align: center;
    margin-top: 270px;
    .titre{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .surligne{
        display: block;
        top: 0;

        width: 251px;
        height: 18px;
        background-color: $main;
        position: absolute;
        transform: translateY(17px);
        z-index: -1;
    }
    .carousel {
        margin-top: 180px;
    }
    .rangement{
        display: flex;
        justify-content: space-evenly;
        

        & > div{
            width: 25vw;
            
            border: 1px solid;
            border-color: $main;
        }
        .image-project{
            width: 93%;
            margin-top: 10px;
           
        }
        h3{
            font-size: 20px;
            font-family: $fflouis;
        }
        .logo-dev{
            height: 30px;

            
        }
        .espacement{
            
            gap: 10px;

            display: flex;
            justify-content: space-around;
            min-height: 100%;
            flex-direction: column;
            align-items: center;
        }
        a{
            color: rgb(0, 0, 0);
        }
        .sous-ligne{
            height: 1px;
            width: 90px;
            background-color: $main;
            margin-bottom: 10px;
        }
    }

    button{
        display: none;
    }

}

h2{
    font-size: 35px;
    font-family: $ffgilbert;


}

p{
    font-size: 20px;
    font-family: $fflouis;
}


.carousel .titre .sur-vid{
    width: 450px;
}

.carousel .titre .sur-gra{
    width: 200px;
}

