.firstpage{
    background-color: $main;
    .cadre-image{
        background-color: white;
        margin: 0 auto;
        text-align: center;
    .MainPhoto {
        margin: 0cm auto 0;
    }
    }
}