.section-mention{
    h1{
        font-size: 30px;
        font-family: $ffgilbert;
        position: relative;
        text-align: center;
        margin-top: 40px;
    
      }
    .separation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 10vh;

        .titre-mention-legale{

            p{
                color: #D42A27;
                text-align: end;
            }
    
        }


    }
}