.monPreSite{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
  h1{
    font-size: 30px;
    font-family: $ffgilbert;
    position: relative;

  }
  .surligne{
    position: absolute;
    width: 330px;
    height: 15px;
    background-color: $main;
    transform: translateY(94%);
    z-index: -1;
  }
  a{
    font-size: 20px;
    font-family: $fflouis;
    color: black;
    text-decoration: underline;

  }
  p{
    width: 60vw;
  }

}


.under-motion{
  width: 200px;
  position: absolute;

  height: 15px;
  background-color: $main;
  transform: translateY(94%);
  z-index: -1;
}


.section-photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
  h1{
    font-size: 30px;
    font-family: $ffgilbert;
    position: relative;
    margin-bottom: 40px;
  }
}

.rangement-photo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.center{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .monPreSite img, .section-photo img{
    width: 80%;
  }
  
}

@media screen and (max-width: 1160px) {
  .rangement-photo{
    flex-direction: column;
    align-items: center;
  }
}



.section-dessin{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .projet1, .projet2, .projet3{
    width: 100vw;
  }
  h5{
    font-size: 30px;
    font-family: $ffgilbert;
    position: relative;
  }

  p{
    width: 50%;
    
  }
  .section-dessin div{
    display: flex;
    justify-content: center;
    

  }
  .center{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
